*{
    font-family: 'Arial Narrow Bold', sans-serif;
    color:white;
}
body{
    background-color: firebrick;
}
h1{
    font-size: 4vw;
    text-align: center;
}
div{
    width:70%;
    margin:auto;
    border: 2px solid white;
    padding:15px;
}
label{
    width:700px;
}
button{
    color:black;
    width: 150px;
}
input{
    color:black;
}