<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logged</title>
    <link rel="stylesheet" href="css/logged.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">


</head>
<body>
    <div class="navbar">
        <img src="pic/icon.png">
        <a onclick="location.href='/'">Inicio</a>
    </div>

    <div class="main">
<h1>LOGIN COMPLETADO</h1>

    </div>
</body>
</html>