<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
    <link rel="stylesheet" href="css/backend.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">


</head>
<body>

    <div class="main">

<div class="navbar">

    <img src="pic/logoLIGA.png" onclick="window.location.href='/Backend';">
</div>
<h1> SELECCIONE OPERACIÓN</h1>

<div class="botones">

    <a href="/insert"><button>INSERT</button></a>
    <a href="/update"><button>UPDATE</button></a>
    <a href="/delete"><button>DELETE</button></a>

</div>

    </div>
</body>
</html>