.cabecera{
    color:rgb(27, 33, 199);
    background-color: rgba(38, 0, 255, 0.123);
    font-family: Verdana;
    font-size:240%;
    border-style: outset;
    border-width: 10px;
    border-radius: 15px;
    border-color:hsla(12, 76%, 48%, 0.651);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;

} 

.cabecerafoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    hight: 20%
}
.recuadromenu {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-style: solid;
    border-color:hsl(12, 78%, 34%);
    background-color: rgb(204, 193, 98);
    width: 100%;
    hight: 20%; 
    text-align: center;

  }

.menutext {
  text-decoration:none;
  display: inline;
  font-family: Helvetica;
  padding: 15px;
  font-size: 15px;
  
}

.enlacemenu{/* Ajustes enlaces menú */
    text-decoration:none; /* Quita la linia de los enlaces */
    color:rgb(0, 0, 0);

}

h3{
    color:rgb(27, 33, 199);
    background-color: rgba(38, 0, 255, 0.123);
    font-family: Verdana;
    font-size:100%;
    border-style: hidden;
    border-width: 10px;
    border-radius: 10px;
    border-color:rgba(29, 216, 29, 0.651);
    width: 20%;
    text-align: center;
    

}
h4{
    color:rgba(0, 0, 255, 0.726);
    font-family: Verdana;
}
h5{
    color:rgba(0, 0, 255, 0.726);
    font-family: Verdana;
}
#EFECTO {
    border: 0px solid rgba(65, 13, 13, 0.863);
    width: 50%;
    height: 10%;
    animation: mymove 3s infinite;
  }
  
  @keyframes mymove {
    20% {font-size: 20px;}
  }