<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">


</head>
<body>
    <div class="navbar">
        <img src="pic/icon.png">
        <a onclick="location.href='/'">Inicio</a>
    </div>

    <div class="main">
<h1>FORMULARIO DE LOGIN</h1>

<div class="register">
    <h1>ESTO SERÁ EL FORMULARIO DE LOGIN</h1>
</div>
    </div>
</body>
</html>