body{
    background-color: rgb(164, 224, 164);
    font-family: 'arial';
    text-align: center;
    color:rgb(97, 17, 17);
}
h2{
    font-size:3em;
} 
p{
    font-size: 2em;
}
button{
    border:2px solid white;
    border-radius: 3px;
    color:white;
    font-size:2em;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(93, 91, 211);
}